<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th ="http://www.thymeleaf.orgs">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>My TO DO App</title>
<link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
<link rel="stylesheet" href="../static/metisMenu.min.css" th:href="@{/metisMenu.min.css}" />
<link rel="stylesheet" href="../static/font-awesome.min.css" type="text/css" th:href="@{/font-awesome.min.css}"/>
<link rel="stylesheet" href="../static/main.css" type="text/css" th:href="@{/main.css}"/>
<script type="text/javascript" src="../static/jquery.min.js" th:src="@{/jquery.min.js}"></script>
<script type="text/javascript" src="../static/angular.min.js" th:src="@{/angular.min.js}"></script>
<script type="text/javascript" src="../static/angular-route.min.js" th:src="@{/angular-route.min.js}"></script>
<script type="text/javascript" src="../static/angular-resource.min.js" th:src="@{/angular-resource.min.js}"></script>
<script type="text/javascript" src="../static/bootstrap.min.js" th:src="@{/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/metisMenu.min.js" th:src="@{/metisMenu.min.js}"></script>
<script type="text/javascript" src = "../static/main.js" th:src="@{/main.js}"></script>
</head>
<body ng-app = "app" ng-controller ="NoteController" ng-init="init()">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome {{user.username}}</a>
    </div>
  </div>
</nav>
<div class="container-fluid p-0">
      <section class="" id="intro">
        <div class="my-auto">
          <h1 class="mb-0">Hey
            <span class="text-primary">{{user.username}}</span>
          </h1>
          <div class="subheading mb-5">Lorem ipsum dolor sit amet, mei ea noster intellegat, audire 
          </div>
          <p class="mb-5">Lorem ipsum dolor sit amet, mei ea noster intellegat, audire volumus nec cu. 
          Vidit tollit perfecto ea sea, eu sea quidam iriure epicurei. Placerat legendos molestiae vel et,
           vix magna rebum sensibus eu, per ut paulo scriptorem. Nam homero alienum placerat te, adhuc delectus vim ne.
            Ea quo principes dissentiunt, modo consequat intellegam est id. Et quis aperiri consequat sed. 
            Modus saperet mediocritatem ei pri, eum ne deserunt interesset.
          </p>
        </div>
      </section>
<section class="" id="notes">
<div>
<form>
  <div class="form-group">
    <label for="title">title:</label>
    <input type="text" class="form-control" ng-model="text"/>
  </div>
  <div class="form-group">
    <label for="text">text:</label>
    <input type="text" class="form-control" ng-model="title"/>
  </div>
  <button type="submit" class="btn btn-default" ng-click="createNote()">AddNote</button>
</form>
</div>
          <h2>Notes</h2>
			<ul ng-repeat = "n in notes" >
			<li class= "container-fluid">
			Title: {{n.title}}<br/>
			Text: {{n.text}}<br/>
			Done<input type="checkbox" ng-model="n.checked" ng-click ="setNoteAsChecked(n)"/> <br/>
			<button type="submit" class="btn btn-default" ng-click="deleteNote(n)">DeleteNote</button>
			</li>
			</ul>
			</section>
			<div class="panel-footer">
			by Nurhan Kesgin
			</div>
		</div>
</body>

</html>
